{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Friday, September 9, 2022</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>9:00 am - 9:10 am</td>  <td>Introductions and Logistics</td> </tr>
      <tr> <td>9:10 am - 10:20 am</td>  <td>Data Organization in Spreadsheets</td> </tr>
      <tr> <td>10:20 am - 10:30 am</td>  <td>Break</td> </tr>
      <tr> <td>10:30 am - 11:50 am</td>  <td>Data Cleaning with OpenRefine</td> </tr>
      <tr> <td>11:50 am</td>  <td>Wrap-up</td> </tr>
      <tr> <td>11:55 am</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
